@import "/src/styles/variables.scss";

.price_slider_container {
    width: 100%;
    margin-bottom: 20px;

}

.handle {
    position: absolute;
    margin-left: -17px;
    margin-right: -20px;
    margin-top: 11px;
    z-index: 2;
    width: 18px;
    height: 18px;
    border: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: $primary-color;
    color: $primary-color;
}

.handleValue {
    display: none;
}

.track {
    position: absolute;
    height: 2px;
    z-index: 1;
    margin-top: 20px;
    background-color: $primary-color;
    border-radius: 5px;
    cursor: pointer;
}

.tickLine {
    display: none;
    
}

.tickLabel {
    display: none;
}

.price_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.price_input {
    width: 100%;
    @include flex-center;
    border: 1px solid $primary-color;

    &:focus {
        outline: none;
    }

}

.separator_container {
    width: 20%;
    @include flex-center;

    .separator {
        width: 50%;
        height: 2px;
        background-color: $primary-color;
        transform: translateY(-50%);
    }
}