@import "../../styles/variables.scss";

.search_container {
    @include flex-column-center;
}

.search_input {
    position: relative;
    width: 60vw;
    background: $primary-bg-color;
    border: 3px solid $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px 2%;
    outline: none;

}

.search_list {
    list-style-type: none;
    max-height: 600px;
    overflow-y: auto;
    padding: 0;
    margin-top: 20px;

    .product_li {
        display: flex;
        text-decoration: none;
        color: black;
        padding: 10px;
        display: flex;
        align-items: start;
        justify-content: start;
        border-bottom: 1px solid #e6e6e6;
        gap: 30px;
    }
}
.title_container {
  align-self: center;
}
.crossBtn {
    position: absolute;
    right: 10px;
    top: 110px;
}