@import "../../styles/variables.scss";

.search_input {
    position: relative;
    width: 60vw;
    background: $primary-bg-color;
    border: 3px solid $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px 2%; 
}

.search_list {
    list-style-type: none;

    .product_li {
        text-decoration: none;
        color: black;
        padding: 10px;
        display: flex;
        align-items: start;
        justify-content: start;
        border-bottom: 1px solid #e6e6e6;
        gap: 10px;
    }
}
.crossBtn {
    position: absolute;
    right: 10px;
    top: 20px;
}