.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .message {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    }

}
.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}