@import "../styles/variables.scss";

.search__block {
  position: absolute;
  left: 167px;
  width: 1105.5px;
  height: 238.5px;
  background-color: aqua;
  transform: translate(0, -100px);
  z-index: 2;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  .p {
    padding-top: 45px;
    color: $primary-color;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-left: 140px;
  }
  .search {
    margin-left: 140px;
    width: 825.5px;
    height: 68.5px;
    background: #ffffff;
    border: 3px solid $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px 35px;
    gap: 10px;
    &:focus {
      color: $primary-color;
    }
  }
}
.h2 {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary-bg-color;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}
.popular_product__section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category_product_section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .div1 {
    width: 295px;
    height: 295px;
    background-color: antiquewhite;
    grid-area: 1 / 1 / 2 / 6;
  }
  .div2 {
    width: 295px;
    background-color: aquamarine;
    height: 295px;
    grid-area: 2 / 4 / 6 / 6;
  }
  .div3 {
    background-color: aqua;
    width: 610px;
    height: 639px;
    grid-area: 2 / 1 / 6 / 4;
  }
}
.h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: $secondary-bg-color;
}
