@import "../styles/variables.scss";

.search__block {
  position: absolute;
  left: 167px;
  width: 1105.5px;
  height: 238.5px;
  background-color: aqua;
  transform: translate(0, -100px);
  z-index: 2;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  .p {
    padding-top: 45px;
    color: $primary-color;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-left: 140px;
  }
  .search {
    margin-left: 140px;
    width: 825.5px;
    height: 68.5px;
    background: #ffffff;
    border: 3px solid $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px 35px;
    gap: 10px;
    &:focus {
      color: $primary-color;
    }
  }
}
.h2 {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary-bg-color;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}
.popular_product__section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category_product_section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .div1 {
    width: 295px;
    height: 295px;
    background-color: antiquewhite;
    grid-area: 1 / 1 / 2 / 6;
  }
  .div2 {
    width: 295px;
    background-color: aquamarine;
    height: 295px;
    grid-area: 2 / 4 / 6 / 6;
  }
  .div3 {
    background-color: aqua;
    width: 610px;
    height: 639px;
    grid-area: 2 / 1 / 6 / 4;
  }
}
.h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: $secondary-bg-color;
}
.producer_line {
  margin-top: 90px;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 200px;
  width: 100%;
  height: 118px;
  background-color: $primary-color;
}
.history_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .h4 {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: $primary-color;
  }
  .p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: $secondary-text-color;
  }
  .history_btn {
    text-decoration: none !important;
    margin-top: 50px;
    cursor: pointer;
    width: 281px;
    height: 51px;
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 45px;
    gap: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    color: $primary-bg-color;
    margin-bottom: 90px;
    transition: 0.5s;
    &:hover {
      transform: translateY(-5px);
    }
  }
}
.question__section {
  margin-top: 90px;
  margin: 0 auto;
  .retreat {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: $secondary-bg-color;
  }
  .accordion {
    height: 78px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: $primary-bg-color;
  }
  .call__form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 399px;
    height: 387px;
    background-color: $primary-bg-color;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 51px 30px 48px;
    &_input {
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #c90000;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */

      text-align: justify;
      text-transform: uppercase;
    }
    a {
      text-decoration: none;
    }
    &_btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px 54px;
      gap: 10px;
      width: 300px;
      height: 51px;
      background-color: $primary-color;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 18px;
      color: $primary-bg-color;
      transition: 0.5s;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
