$primary-color: #c90000;
$secondary-text-color: #b2b2b2;
$primary-bg-color: #ffffff;
$secondary-bg-color: #0f0f0f;
$primary-text-color: #222222;
$button_footer-color: #ffffff;
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
