@import "/src/styles/variables.scss";

.product__card_container {
    @include flex-column-center;
    max-width: 90%;
    min-width: 300px;
    row-gap: 30px;
  
    .product__card_block {
      width: 100%;
      justify-content: space-between;
  
      .img_swiper_col {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        height: 100%;
  
      }
  
      .img__block {
        @include flex-center;
        height: auto;
        flex: 1;
  
        background: $primary-bg-color;
  
        border-radius: 0px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  
        @media screen and (max-width: 1064px) {
  
          padding: 20px 0;
        }
  
        &_img {
          @media screen and (max-width: 539px) {
            width: 270px;
            height: 270px;
          }
        }
      }
  
  
      .text__block {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 35px 43px;
        justify-content: space-between;
        background: $primary-bg-color;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 0px;
  
  
        &_title_producer_wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          @media screen and (max-width: 600px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
          }
        }
  
        &_title {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 26px;
          display: flex;
          align-items: center;
          color: $primary-text-color;
        }
  
        &_model {
          margin-top: 20px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 14px;
  
          display: flex;
          align-items: center;
  
          color: #b2b2b2;
        }
  
        &_producer {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 14px;
  
          display: flex;
          align-items: center;
          text-transform: uppercase;
          color: #c8102e;
        }
  
        &_features {
          margin-top: 40px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: $secondary-bg-color;
          padding-left: 0;
        }
  
        &_li {
          list-style-position: inside;
        }
  
        &_color {
          margin-top: 33px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          display: flex;
          flex-direction: column;
          color: $secondary-bg-color;
  
          &_all {
            margin-top: 19px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
  
            .color_item {
              cursor: pointer;
              padding: 5px 20px;
              border: 1px solid #0f0f0f;
              color: $secondary-text-color;
              border: 1px solid #a2a2a2;
              flex: 1;
              text-align: center;
            }
  
            .selected_color {
              color: #000000;
              border: 1px solid #0f0f0f;
            }
          }
        }
  
        &_price {
          margin-top: 33px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
  
          display: flex;
          align-items: center;
          color: $primary-text-color;
        }
  
        &_stock {
          margin-top: 10px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 14px;
          display: flex;
          align-items: center;
          color: $primary-color;
  
        }
  
        &_btns {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          margin-top: 20px;
          gap: 10px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 18px;
  
          @media screen and (max-width: 767px) {
            flex-direction: column;
            gap: 20px;
            align-items: center;
          }
  
        }
  
        &_btn_addtocart {
          max-height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          padding: 16px 3.5vw;
          margin-right: 10px;
          background: $primary-color;
          color: $primary-bg-color;
          white-space: nowrap;
  
          @media screen and (max-width: 500px) {
            white-space: inherit;
          }
        }
      }
  
      .swiper_tabs_wrapper {
        max-width: 100%;
        justify-content: space-between;
      }
  
      .selectedImage {
        border: 1px solid #c8102e;
      }
    }
  
    //Tabs
    .tabs__block_wrapper {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
    .tabs__block {
      width: 100%;
  
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
      margin-top: 14px;
      padding: 0;
  
  
  
      &_title {
        @include flex-center;
        flex: 1;
        cursor: pointer;
        margin-bottom: 10px;
        padding: 13px 20px;
        flex-wrap: wrap;
        background: $primary-bg-color;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 18px;
        text-align: center;
        align-items: center;
        color: #0f0f0f;
        white-space: nowrap;
      }
  
      &_all_features {
        flex: 2;
      }
  
      &_similar {
        width: 100%;
      }
  
      .selected {
        border-bottom: 1px solid $primary-color;
        color: $primary-color;
      }
    }
  
    //swiper
    .swiper__img {
      margin-top: 12px;
  
      .swiper__img_block {
        margin-right: 12px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        padding: 28px 8px;
        width: 110px;
        height: 110px;
        background-color: $primary-bg-color;
      }
    }
  }
  
  //features sectiom
  .all_features_container {
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 3%;
  }
  
  .title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #281A08;
  }
  
  .features_section {
    width: 100%;
    height: 100%;
    background: $primary-bg-color;
  
    border-radius: 0px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #444444;
  }
  
  .label_feature_container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #A2A2A2;
    padding: 10px 0;
  
    @media screen and (max-width: 450px) {
      flex-direction: column;
      align-items: start;
    }
  
    .label {
      padding: 10px 0;
      font-weight: 700;
    }
  
    .value {
      max-width: 70%;
      padding: 10px 0;
      text-align: right;
  
      @media screen and (max-width: 450px) {
        text-align: start;
      }
    }
  }
  
  //description section
  .description__section {
    width: 100%;
    @include flex-center;
    padding: 35px 40px;
    background: $primary-bg-color;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
  
    &_title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      color: #281a08;
    }
  
    &_text {
      text-align: justify;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color: #000000;
    }
  }
  
  //Reviews
  .review__section {
    width: 100%;
    display: flex;
    justify-content: space-between;
  
    &_card {
      width: 100%;
      padding: 35px 25px;
      background: $primary-bg-color;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  
      &_title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #0f0f0f;
      }
  
      &_name {
        margin-top: 30px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        color: $primary-color;
      }
  
      &_date {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        /* identical to box height, or 100% */
  
        display: flex;
        align-items: center;
  
        color: #b2b2b2;
      }
  
      &_text {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
  
        color: rgba(15, 15, 15, 0.6);
      }
  
      &_btn {
        margin-top: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $primary-color;
        padding: 10px 45px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        background-color: $primary-bg-color;
        color: $primary-color;
        transition: 0.4s;
  
        &:hover {
          color: $primary-bg-color;
          background-color: $primary-color;
        }
      }
    }
  
    &_form {
      @include flex-column-center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      background: $primary-bg-color;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      padding: 35px 74px;
  
      &_title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: $secondary-bg-color;
      }
  
      &_input {
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid $primary-color;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
        text-transform: uppercase;
        width: 95%;
      }
  
      &_btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 82px;
        gap: 10px;
        background: $primary-color;
        color: $primary-bg-color;
      }
    }
  }
  
  .similar__products {
    width: 100%;
    
    &_title {
      margin: 10px 0 40px 0;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      display: flex;
      justify-content: center;
      color: #0f0f0f;
    }
  
    &_cards {
     :first-child {
        padding-left: 0;
      }
     :last-child {
        padding-right: 0;
      }
      @media screen and (max-width: 991px) {
        :nth-child(2),:nth-child(4) {
          padding-right: 0;
        }
        :nth-child(3 ) {
          padding-left: 0;
        }
      }
      @media screen and (max-width: 767px) {
        >* {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }
  }