@import "/src/styles/variables.scss";

.products_container {
  position: relative;
}

// .top_title_container {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

// }
.cart_container {
  position: absolute;
  right: -2%;
  bottom: 2%;

  @media screen and (max-width: 614px) {
    display: none;
  }
}

.pagination_wrapper {
  display: flex;
  justify-content: center;
}

s.sort_accordion {
  padding: 17px 21px;
}
// id.tsx //
.product__card_container {
  .product__card_block {
    display: flex;
    gap: 37px;
    .img__block {
      padding: 90px;
      width: 600px;
      height: 600px;
      background: $primary-bg-color;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      border-radius: 0px;
    }
    .text__block {
      padding: 35px 43px;
      width: 600px;
      height: 600px;
      background: $primary-bg-color;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      border-radius: 0px;
      &_title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: $primary-text-color;
      }
      &_model {
        margin-top: 20px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 14px;

        display: flex;
        align-items: center;

        color: #b2b2b2;
      }
      &_producer {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 14px;

        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #c8102e;
      }
      &_features {
        margin-top: 40px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: $secondary-bg-color;
      }
      &_color {
        margin-top: 33px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        flex-direction: column;
        color: $secondary-bg-color;
        &_all {
          margin-top: 19px;
          display: flex;
          gap: 10px;
          .color_item {
            cursor: pointer;
            padding: 5px 20px;
            border: 1px solid #0f0f0f;
            color: $secondary-text-color;
            border: 1px solid #a2a2a2;
          }
          .selected_color {
            color: #000000;
            border: 1px solid #0f0f0f;
          }
        }
      }
      &_price {
        margin-top: 33px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;

        display: flex;
        align-items: center;
        color: $primary-text-color;
      }
      &_stock {
        margin-top: 10px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: $primary-color;
      }
    }
  }
}
