@import "/src/styles/variables.scss";

.filter_title_container {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 15px 21px;
}
.filter_btn {
    border: none;
    background: none;
}