@import "/src/styles/variables.scss";

$font-family: 'Montserrat';
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-size-small: 16px;
$font-size-medium: 20px;
$font-size-large: 24px;
$line-height-small: 18px;
$line-height-large: 28px;
$line-height-extra-large: 39px;

.favPage {
    &__emptyContainer {
        @include flex-column-center;




    }

    &__clearBtn,
    &__bottomClearBtn button {
        font-family: $font-family;
        font-style: normal;
        font-weight: $font-weight-normal;
        background: none;
        border: none;
        color: $primary-color;
        cursor: pointer;

        &:hover {
            background: $primary-color;
            color: $secondary-bg-color;
        }
    }

    &__itemsContainer {
        @include flex-column-center;
        overflow-y: auto;
        max-height: 44vh;
    }

    &__container {
        @include flex-column-center;

        @media screen and (max-width: 984px) {
            max-width: 100%;
            margin: 0;
            padding: 0;
        }
    }

    &__title {
        width: 100%;
        font-weight: $font-weight-bold;
        font-size: 32px;
        line-height: $line-height-extra-large;
        text-align: center;
        margin-bottom: 20px;
    }

    &__itemsWrapper {
        width: 100%;
        max-height: 42vh;
        @include flex-column-center;
        overflow-y: auto;
        gap: 20px;

        @media screen and (max-width: 984px) {
            max-height: none;
        }
    }

    &__bottomClearBtn {
        @include flex-center;
        margin: 20px 0;

        button {
            padding: 16px 45px;
            background: $primary-bg-color;
            border: 1px solid $primary-color;
            font-size: $font-size-medium;
            line-height: $line-height-small;
            color: $primary-color;

            &:hover {
                background: $primary-color;
                color: $primary-bg-color;
            }
        }
    }
}

.favPage__emptyMessage {
    font-family: $font-family;
    font-style: normal;
    font-weight: $font-weight-normal;
    font-size: $font-size-large;
    line-height: $line-height-large;
    color: $primary-color;
}

.favPage__goToCatalog {
    text-decoration: none;
    padding: 16px 45px;
    background: $primary-bg-color;
    border: 1px solid $primary-color;
    font-size: $font-size-medium;
    margin: 40px 0;
    color: $primary-color;

    &:hover {
        background: $primary-color;
        color: $primary-bg-color;
    }
}