@import "@/styles/variables.scss";

.remove_btn {
    background: none;
    border: none;

    .cross_btn {
        position: relative;
        width: 25px;
        height: 25px;

        .vector {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2px;
            height: 100%;
            background-color: $primary-color;
            transform-origin: center center;

            &:first-child {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:last-child {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}