@import "../../styles/variables.scss";

.container__header {
  width: 100%;
  display: flex;
  justify-content: center;

  .header {
    padding: 0 9%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
    width: 100%;
    background-color: $primary-bg-color;
    z-index: 9999;

    .action__bar {
      display: flex;
      align-items: center;
      gap: 15px;

      a {
        text-decoration: none;
      }

      .phone__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        height: 47px;
        background-color: $primary-color;
        border: none;
        color: $primary-bg-color;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        cursor: pointer;
        margin-left: 25px;
        transition: 0.5s;

        &:hover {
          transform: translateY(-5px);
        }
      }
    }

    .menu__toggle {
      display: none;
    }

    @media (max-width: 1000px) {
      .menu__toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
        align-items: center;
        gap: 7px;
        background-color: #ffffff;
      }

      .menu__icon {
        transition: 1s;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 3px;
        background-color: $primary-color;
      }

      .activeMenuIcon:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
      }

      .activeMenuIcon:nth-child(2) {
        transform: translateX(100px);
        opacity: 0;
      }

      .activeMenuIcon:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
      }

      .phone__btn {
        display: none !important;
      }
    }
  }

  .ul {
    color: $primary-bg-color;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .open {
    position: absolute;
    top: 99%;
    right: 0;
    display: flex;
    padding: 100px 100px;
    flex-direction: column;
    background-color: #ffffff;
  }

  .li {
    margin: 0 10px;
  }

  .a {
    text-decoration: none;
    color: $primary-bg-color;
    transition: 0.3s;
  }
}
.nav {
  // Your main navigation styles...
  @media (max-width: 1000px) {
    display: none;
  }
}

.burgerNav {
  // Your burger navigation styles...
  @media (min-width: 1001px) {
    display: none;
  }
}